.EditorNotSelected{
    text-align: center;
    color: #999;
    border: .5rem solid;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}