.Container{
    display: inline-block;
    .SignatureInput{
        width: 20rem;
        height: 10rem;
    }
    .Holder{
        font-size: 1rem;
        text-align: center;
        color: crimson;
        background: whitesmoke;
        border-bottom: 1px solid #eee;
    }
}