html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="user" content=user)
        title Quote Template Editor
        link(href="/styles.css" rel="stylesheet")
    body
        div#root
        script(type="text/javascript" src="/bundle.min.js")