extends auth.pug

block content
    form(action="/login", method="post")
        input(type="text", name="username" placeholder="Username")
        input(type="password", name="password" placeholder="Password")
        p= message
        input(type="submit", value="Login")
    a(href="/signup") Don't have an account?