.TermsOfService{
    height: 100%;
    border: .2rem solid #777;
    width: 100%;
    overflow: hidden;
    &:hover{
        cursor: default;
    }
    .Items{
        position: relative;
        overflow: scroll;
        padding: 1rem;
        height: calc(100% - 2rem);
        width: 100%;
    }
}