.Heading{
    font-size: 2rem;
}
.Form{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    input{
        border: none;
        border: 1px solid;
        padding: .5rem;
        border-radius: .5rem;
    }
    a{
        padding: .5rem 1rem;
        border: 1px solid;
        cursor: pointer;
    }
    p{
        margin-right: 1rem;
    }
    a:nth-child(2){
        margin-left: 1rem;
    }
}

.Cancel{
    color: red;
}
.Submit{   
    color: green;
}