.TemplateEditor{
    text-align: center;
    border: .5rem solid black;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    // height: calc(100vh - 4rem);
    &:not(:first-child){
        margin-top: 2rem;
    }
}