.TextInput{
    padding: .5rem;
    outline: 0;
    border: none;
    resize: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    // height: 100%;
    // &:focus{
    //     resize: both;
    // }
    &:hover{
        cursor: pointer;
    }
}