.Heading{
    height: 20rem;
    z-index: 50;
    border: .2rem solid #777;
    position: absolute;
    background: white;
    width: 95%;
    margin: 1rem;
    .Toolbar{
        display: flex;
        color: crimson;
        background: whitesmoke;
        border-bottom: .1rem solid #777;
        padding: .5rem;
    }
    .Select{
        width: 2rem;
        height: .2rem;
        background: crimson;
        margin-right: 1rem;
        position: relative;
        &:hover{
            cursor: pointer;
        }
        &::before, &::after{
            content: '';
            display: block;
            width: 2rem;
            height: .2rem;
            background: crimson;
            position: absolute;
        }
        &::after{
            top: 4px;
            left: 0;
        }
        &::before{
            top: 8px;
            left: 0;
        }
    }
    .Delete{
        margin-left: auto;
        &:hover{
            cursor: pointer;
        }
    }
}