.InitialsInput{
    padding: .5rem;
    outline: 0;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    resize: none;
    overflow: hidden;
    &:hover{
        cursor: pointer;
    }
}